:root {
  --label-top: 22px;
  
}

.label::after{
  content: attr(product-label-new);
  position: absolute;
  top: var(--label-top);
  left: -7px;
  height: 35px;
  min-width: 60px;
  color: white;
  background-color: var(--color-orange-400);
  padding: 4px 12px;
  border: 0px;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.label::before{
  content: '';
  position: absolute;
  top: calc(var(--label-top) + 35px);
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid var(--color-amber-600);
  border-left: 6px solid transparent;
  
}
